# Vanessa Williams

## Week 5

## Question 1

#### Parts A & B

In [7]:
import pandas as pd

# Function to read CSV files and add a ticker column
def read_and_add_ticker(filenames):
    dataframes = {}
    
    for filename in filenames:
        # Derive the ticker symbol from the filename by removing the '.csv'
        ticker = filename.replace('.csv', '').upper()  # Assuming filenames are lowercase
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv('aapl.csv')
        df = pd.read_csv('amzn.csv')
        df = pd.read_csv('fb.csv')
        df = pd.read_csv('goog.csv')
        df = pd.read_csv('nflx.csv')
        
        # Add a 'ticker' column with the ticker symbol
        df['ticker'] = ticker
        
        # Store the DataFrame in a dictionary
        dataframes[ticker] = df
    
    return dataframes

# Filenames to read in (assuming the files are in the current directory)
filenames = ['aapl.csv', 'amzn.csv', 'fb.csv', 'goog.csv', 'nflx.csv']

# Call the function and store the dataframes
dataframes_with_tickers = read_and_add_ticker(filenames)

# You can now access each dataframe by its ticker symbol, for example:
print(dataframes_with_tickers['AAPL'], ['AMZN'], ['FB'], ['GOOG'], ['NFLX'])  # Display AAPL DataFrame

           date        high         low        open       close    volume  \
0    2018-01-02  201.649994  195.419998  196.100006  201.070007  10966900
1    2018-01-03  206.210007  201.500000  202.050003  205.050003   8591400
2    2018-01-04  207.050003  204.000000  206.199997  205.630005   6029600
3    2018-01-05  210.020004  205.589996  207.250000  209.990005   7033200
4    2018-01-08  212.500000  208.440002  210.020004  212.050003   5580200
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  250.649994  233.679993  242.000000  233.880005   9547600
247  2018-12-26  254.500000  231.229996  233.919998  253.669998  14402700
248  2018-12-27  255.589996  240.100006  250.110001  255.570007  12235200
249  2018-12-28  261.910004  249.800003  257.940002  256.079987  10992800
250  2018-12-31  270.100006  260.000000  260.160004  267.660004  13508900

    ticker
0     AAPL
1     AAPL
2     AAPL
3     AAPL
4     AAPL
..     ...
246   AAPL
247   AAPL
248   AAPL
249   AAPL
250   AAPL

[251 rows x 7 columns] ['AMZN'] ['FB'] ['GOOG'] ['NFLX']

#### Part C

In [15]:
import pandas as pd

# Function to read CSV files, add a ticker column, and append them into a single DataFrame
def read_and_append_data(filenames):
    dataframes = []
    
    for filename in filenames:
        # Derive the ticker symbol from the filename by removing the '.csv'
        ticker = filename.replace('.csv', '').upper()  # Assuming filenames are lowercase
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(filename)
        
        # Add a 'ticker' column with the ticker symbol
        df['ticker'] = ticker
        
        # Append the DataFrame to the list
        dataframes.append(df)
    
    # Concatenate all DataFrames into a single DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True)
    
    return combined_df

# Filenames to read in (assuming the files are in the current directory)
filenames = ['aapl.csv', 'amzn.csv', 'fb.csv', 'goog.csv', 'nflx.csv']

# Call the function to get the combined dataframe
combined_dataframe = read_and_append_data(filenames)

# Display the combined dataframe
print(combined_dataframe)

            date        high         low        open       close       volume  \
0     2018-01-02   43.075001   42.314999   42.540001   43.064999  102223600.0
1     2018-01-03   43.637501   42.990002   43.132500   43.057499  118071600.0
2     2018-01-04   43.367500   43.020000   43.134998   43.257500   89738400.0
3     2018-01-05   43.842499   43.262501   43.360001   43.750000   94640000.0
4     2018-01-08   43.902500   43.482498   43.587502   43.587502   82271200.0
...          ...         ...         ...         ...         ...          ...
1250  2018-12-24  250.649994  233.679993  242.000000  233.880005    9547600.0
1251  2018-12-26  254.500000  231.229996  233.919998  253.669998   14402700.0
1252  2018-12-27  255.589996  240.100006  250.110001  255.570007   12235200.0
1253  2018-12-28  261.910004  249.800003  257.940002  256.079987   10992800.0
1254  2018-12-31  270.100006  260.000000  260.160004  267.660004   13508900.0

     ticker
0      AAPL
1      AAPL
2      AAPL
3      AAPL
4      AAPL
...     ...
1250   NFLX
1251   NFLX
1252   NFLX
1253   NFLX
1254   NFLX

[1255 rows x 7 columns]

#### Part D

In [18]:
combined_dataframe.to_csv('faang.csv', index=False)

# Optionally, print a message to confirm it's saved
print("Combined data has been saved to 'faang.csv'")

Combined data has been saved to 'faang.csv'

## Question 2

In [36]:
# Read the faang.csv file into a DataFrame
faang_df = pd.read_csv('faang.csv')

# Convert the 'date' column to datetime type
faang_df['date'] = pd.to_datetime(faang_df['date'])

# Convert the 'volume' column to integer type
faang_df['volume'] = faang_df['volume'].astype(int)

# Sort the DataFrame by 'date' and 'ticker'
faang_df = faang_df.sort_values(by=['date', 'ticker'])

# Optionally, print a few rows to confirm
print(faang_df.head())

# Save the sorted DataFrame back to CSV (if required)
faang_df.to_csv('faang_sorted.csv', index=False)

           date         high          low         open        close  \
0    2018-01-02    43.075001    42.314999    42.540001    43.064999
251  2018-01-02  1190.000000  1170.510010  1172.000000  1189.010010
502  2018-01-02   181.580002   177.550003   177.679993   181.419998
753  2018-01-02  1066.939941  1045.229980  1048.339966  1065.000000
1004 2018-01-02   201.649994   195.419998   196.100006   201.070007

         volume ticker
0     102223600   AAPL
251     2694500   AMZN
502    18151900     FB
753     1237600   GOOG
1004   10966900   NFLX

## Question 3

In [30]:
# Convert the 'volume' column to integer type (in case it is not already)
faang_df['volume'] = faang_df['volume'].astype(int)

# Find the seven rows with the lowest values in the 'volume' column
lowest_volume_rows = faang_df.nsmallest(7, 'volume')

# Display the results
print(lowest_volume_rows)

          date         high          low         open        close  volume  \
879 2018-07-03  1135.819946  1100.020020  1135.819946  1102.890015  679000
979 2018-11-23  1037.589966  1022.398987  1030.000000  1023.880005  691500
852 2018-05-24  1080.469971  1066.150024  1079.000000  1079.239990  766800
883 2018-07-10  1159.589966  1149.589966  1156.979980  1152.839966  798400
905 2018-08-09  1255.541992  1246.010010  1249.900024  1249.099976  848600
912 2018-08-20  1211.000000  1194.625977  1205.020020  1207.770020  870800
914 2018-08-22  1211.839966  1199.000000  1200.000000  1207.329956  887400

    ticker
879   GOOG
979   GOOG
852   GOOG
883   GOOG
905   GOOG
912   GOOG
914   GOOG

## Question 4

In [43]:
# Melt the DataFrame to convert it into a long format
long_format_df = pd.melt(faang_df, id_vars=['date', 'ticker'], 
                         value_vars=['open', 'high', 'low', 'close', 'volume'],
                         var_name='variable', value_name='value')

# Display the transformed long format DataFrame
print(long_format_df)

# Optionally, save the long format DataFrame to a CSV file
long_format_df.to_csv('faang_long_format.csv', index=False)

           date ticker variable         value
0    2018-01-02   AAPL     open  4.254000e+01
1    2018-01-02   AMZN     open  1.172000e+03
2    2018-01-02     FB     open  1.776800e+02
3    2018-01-02   GOOG     open  1.048340e+03
4    2018-01-02   NFLX     open  1.961000e+02
...         ...    ...      ...           ...
6270 2018-12-31   AAPL   volume  1.400140e+08
6271 2018-12-31   AMZN   volume  6.954500e+06
6272 2018-12-31     FB   volume  2.462530e+07
6273 2018-12-31   GOOG   volume  1.493300e+06
6274 2018-12-31   NFLX   volume  1.350890e+07

[6275 rows x 4 columns]

## Question 5

#### Q: Suppose we found out that on July 26, 2018 there was a glitch in how the data wasrecorded. How should we handle this? Note that there is no coding required for thisexercise

The steps include understanding the extent of the issue, cross-checking with external sources, making an informed decision about how to handle the data, documenting your decision, and ensuring consistency across related processes.