# Vanessa Williams
# Milestone 2

### Part 1: Replace Headers

In [142]:
import pandas as pd

# Load the CSV file
file_path = '2019_Scoring_Offense.csv'
data = pd.read_csv(file_path)

# Replace headers as requested
data.rename(columns={'Rk': 'Rank', 'Tm': 'Teams'}, inplace=True)

# Display the updated dataframe to verify
print(data.head())  # Verify that the headers are updated

   Rank                 Teams     G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  \
0   1.0  New England Patriots  16.0   17.0   25.0    NaN    NaN    2.0    3.0
1   2.0         Buffalo Bills  16.0   13.0   21.0    NaN    1.0    NaN    NaN
2   3.0      Baltimore Ravens  16.0   21.0   37.0    NaN    NaN    4.0    2.0
3   4.0         Chicago Bears  16.0    8.0   20.0    NaN    1.0    NaN    1.0
4   5.0     Minnesota Vikings  16.0   19.0   26.0    NaN    NaN    1.0    1.0

   OthTD  ...  2PM  2PA  D2P   XPM   XPA   FGM   FGA  Sfty    Pts  Pts/G
0    2.0  ...  2.0  4.0  NaN  39.0  45.0  27.0  34.0   1.0  420.0   26.3
1    NaN  ...  3.0  3.0  NaN  30.0  32.0  22.0  28.0   1.0  314.0   19.6
2    NaN  ...  2.0  5.0  NaN  57.0  59.0  28.0  29.0   1.0  531.0   33.2
3    NaN  ...  1.0  1.0  NaN  27.0  29.0  23.0  28.0   1.0  280.0   17.5
4    NaN  ...  1.0  3.0  NaN  40.0  44.0  27.0  29.0   1.0  407.0   25.4

[5 rows x 21 columns]

### Part 2: Format data into a more readable format

In [148]:
# Replace NaN values with zero
data.fillna(0, inplace=True)
data.head()

,Rank,Teams,G,RshTD,RecTD,PR TD,KR TD,FblTD,IntTD,OthTD,...,2PM,2PA,D2P,XPM,XPA,FGM,FGA,Sfty,Pts,Pts/G
0,1.0,New England Patriots,16.0,17.0,25.0,0.0,0.0,2.0,3.0,2.0,...,2.0,4.0,0.0,39.0,45.0,27.0,34.0,1.0,420.0,26.3
1,2.0,Buffalo Bills,16.0,13.0,21.0,0.0,1.0,0.0,0.0,0.0,...,3.0,3.0,0.0,30.0,32.0,22.0,28.0,1.0,314.0,19.6
2,3.0,Baltimore Ravens,16.0,21.0,37.0,0.0,0.0,4.0,2.0,0.0,...,2.0,5.0,0.0,57.0,59.0,28.0,29.0,1.0,531.0,33.2
3,4.0,Chicago Bears,16.0,8.0,20.0,0.0,1.0,0.0,1.0,0.0,...,1.0,1.0,0.0,27.0,29.0,23.0,28.0,1.0,280.0,17.5
4,5.0,Minnesota Vikings,16.0,19.0,26.0,0.0,0.0,1.0,1.0,0.0,...,1.0,3.0,0.0,40.0,44.0,27.0,29.0,1.0,407.0,25.4

### Part 3: Identify outliers and bad data

In [152]:
# Function to detect outliers using IQR
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

# Select only numerical columns for outlier detection
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns

# Detect outliers for each numerical column and store them
outliers_dict = {}
for column in numerical_columns:
    outliers = detect_outliers_iqr(data, column)
    if not outliers.empty:
        outliers_dict[column] = outliers

# Display the outliers found
for column, outliers in outliers_dict.items():
    print(f"Outliers in {column}:")
    print(outliers)
    print("\n")

# Remove rows with "League Total" or "Avg Tm/G" to clean the data
data_cleaned = data[~data['Teams'].isin(['League Total', 'Avg Tm/G'])]

# Save the cleaned data 
data_cleaned.to_csv('updated_2019_Scoring_Offense.csv', index=False)

Outliers in G:
    Rank         Teams    G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
32   0.0      Avg Team  0.0   14.00   24.90   0.20   0.20   1.10   1.10
33   0.0  League Total  0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0      Avg Tm/G  0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
32   0.20  ...   1.70    3.50  0.1    35.50    37.80   25.10   30.70   0.50
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
32    365.0   22.8
33  11680.0   22.8
34     22.8    0.0

[3 rows x 21 columns]


Outliers in RshTD:
    Rank         Teams    G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  OthTD  \
33   0.0  League Total  0.0  447.0  797.0    7.0    7.0   34.0   35.0    5.0

    ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty      Pts  Pts/G
33  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0  11680.0   22.8

[1 rows x 21 columns]


Outliers in RecTD:
    Rank         Teams    G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
33   0.0  League Total  0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0      Avg Tm/G  0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
33  11680.0   22.8
34     22.8    0.0

[2 rows x 21 columns]


Outliers in PR TD:
    Rank                 Teams     G  RshTD  RecTD  PR TD  KR TD  FblTD  \
5    6.0   Pittsburgh Steelers  16.0    7.0   18.0    1.0    0.0    2.0
12  13.0    New Orleans Saints  16.0   12.0   36.0    1.0    0.0    1.0
13  14.0  Los Angeles Chargers  16.0   12.0   24.0    1.0    0.0    0.0
17  18.0    Indianapolis Colts  16.0   17.0   22.0    2.0    0.0    0.0
22  23.0       Atlanta Falcons  16.0   10.0   29.0    1.0    0.0    1.0
25  26.0         Detroit Lions  16.0    7.0   28.0    1.0    1.0    1.0
32   0.0              Avg Team   0.0   14.0   24.9    0.2    0.2    1.1
33   0.0          League Total   0.0  447.0  797.0    7.0    7.0   34.0

    IntTD  OthTD  ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty  \
5     1.0    0.0  ...   0.0    1.0  0.0    28.0    28.0   29.0   31.0   0.0
12    2.0    0.0  ...   0.0    3.0  0.0    48.0    49.0   32.0   36.0   1.0
13    0.0    0.0  ...   1.0    1.0  0.0    35.0    35.0   26.0   34.0   0.0
17    1.0    0.0  ...   2.0    3.0  1.0    33.0    39.0   22.0   31.0   2.0
22    1.0    0.0  ...   2.0    9.0  0.0    29.0    31.0   32.0   40.0   0.0
25    0.0    0.0  ...   0.0    2.0  0.0    35.0    36.0   26.0   31.0   0.0
32    1.1    0.2  ...   1.7    3.5  0.1    35.5    37.8   25.1   30.7   0.5
33   35.0    5.0  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0

        Pts  Pts/G
5     289.0   18.1
12    458.0   28.6
13    337.0   21.1
17    361.0   22.6
22    381.0   23.8
25    341.0   21.3
32    365.0   22.8
33  11680.0   22.8

[8 rows x 21 columns]


Outliers in KR TD:
    Rank                Teams     G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  \
1    2.0        Buffalo Bills  16.0   13.0   21.0    0.0    1.0    0.0    0.0
3    4.0        Chicago Bears  16.0    8.0   20.0    0.0    1.0    0.0    1.0
6    7.0   Kansas City Chiefs  16.0   16.0   30.0    0.0    1.0    2.0    1.0
24  25.0   Cincinnati Bengals  16.0    9.0   18.0    0.0    1.0    0.0    0.0
25  26.0        Detroit Lions  16.0    7.0   28.0    1.0    1.0    1.0    0.0
26  27.0  Washington Redskins  16.0    9.0   18.0    0.0    1.0    0.0    0.0
31  32.0       Miami Dolphins  16.0   10.0   22.0    0.0    1.0    0.0    1.0
33   0.0         League Total   0.0  447.0  797.0    7.0    7.0   34.0   35.0

    OthTD  ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty      Pts  \
1     0.0  ...   3.0    3.0  0.0    30.0    32.0   22.0   28.0   1.0    314.0
3     0.0  ...   1.0    1.0  0.0    27.0    29.0   23.0   28.0   1.0    280.0
6     0.0  ...   1.0    2.0  1.0    45.0    48.0   34.0   38.0   0.0    451.0
24    0.0  ...   2.0    3.0  0.0    24.0    25.0   27.0   31.0   1.0    279.0
25    0.0  ...   0.0    2.0  0.0    35.0    36.0   26.0   31.0   0.0    341.0
26    0.0  ...   1.0    6.0  0.0    21.0    22.0   25.0   30.0   0.0    266.0
31    0.0  ...   1.0    4.0  0.0    29.0    30.0   23.0   30.0   1.0    306.0
33    5.0  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0  11680.0

    Pts/G
1    19.6
3    17.5
6    28.2
24   17.4
25   21.3
26   16.6
31   19.1
33   22.8

[8 rows x 21 columns]


Outliers in FblTD:
    Rank         Teams    G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  OthTD  \
33   0.0  League Total  0.0  447.0  797.0    7.0    7.0   34.0   35.0    5.0

    ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty      Pts  Pts/G
33  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0  11680.0   22.8

[1 rows x 21 columns]


Outliers in IntTD:
    Rank         Teams    G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  OthTD  \
33   0.0  League Total  0.0  447.0  797.0    7.0    7.0   34.0   35.0    5.0

    ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty      Pts  Pts/G
33  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0  11680.0   22.8

[1 rows x 21 columns]


Outliers in OthTD:
    Rank                 Teams     G   RshTD   RecTD  PR TD  KR TD  FblTD  \
0    1.0  New England Patriots  16.0   17.00   25.00   0.00   0.00   2.00
11  12.0      Tennessee Titans  16.0   21.00   29.00   0.00   0.00   2.00
15  16.0         New York Jets  16.0    6.00   19.00   0.00   0.00   2.00
29  30.0       New York Giants  16.0   11.00   30.00   0.00   0.00   1.00
32   0.0              Avg Team   0.0   14.00   24.90   0.20   0.20   1.10
33   0.0          League Total   0.0  447.00  797.00   7.00   7.00  34.00
34   0.0              Avg Tm/G   0.0    0.87    1.56   0.01   0.01   0.07

    IntTD  OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA  \
0    3.00   2.00  ...   2.00    4.00  0.0    39.00    45.00   27.00   34.00
11   1.00   1.00  ...   1.00    2.00  0.0    50.00    52.00    8.00   18.00
15   3.00   1.00  ...   3.00    4.00  0.0    23.00    27.00   19.00   28.00
29   1.00   1.00  ...   2.00    4.00  0.0    35.00    39.00   12.00   17.00
32   1.10   0.20  ...   1.70    3.50  0.1    35.50    37.80   25.10   30.70
33  35.00   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00
34   0.07   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92

     Sfty      Pts  Pts/G
0    1.00    420.0   26.3
11   1.00    402.0   25.1
15   2.00    276.0   17.3
29   1.00    341.0   21.3
32   0.50    365.0   22.8
33  17.00  11680.0   22.8
34   0.03     22.8    0.0

[7 rows x 21 columns]


Outliers in AllTD:
    Rank         Teams    G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
33   0.0  League Total  0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0      Avg Tm/G  0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
33  11680.0   22.8
34     22.8    0.0

[2 rows x 21 columns]


Outliers in 2PM:
    Rank                 Teams     G  RshTD  RecTD  PR TD  KR TD  FblTD  \
14  15.0   Philadelphia Eagles  16.0   16.0   27.0    0.0    0.0    2.0
20  21.0  Jacksonville Jaguars  16.0    3.0   24.0    0.0    0.0    1.0
28  29.0  Tampa Bay Buccaneers  16.0   15.0   33.0    0.0    0.0    4.0
33   0.0          League Total   0.0  447.0  797.0    7.0    7.0   34.0

    IntTD  OthTD  ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty  \
14    1.0    0.0  ...   4.0    7.0  0.0    35.0    37.0   22.0   26.0   0.0
20    1.0    0.0  ...   4.0    9.0  0.0    19.0    20.0   33.0   34.0   0.0
28    2.0    0.0  ...   5.0    6.0  0.0    43.0    48.0   27.0   35.0   0.0
33   35.0    5.0  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0

        Pts  Pts/G
14    385.0   24.1
20    300.0   18.8
28    458.0   28.6
33  11680.0   22.8

[4 rows x 21 columns]


Outliers in 2PA:
    Rank                 Teams     G  RshTD  RecTD  PR TD  KR TD  FblTD  \
20  21.0  Jacksonville Jaguars  16.0    3.0   24.0    0.0    0.0    1.0
22  23.0       Atlanta Falcons  16.0   10.0   29.0    1.0    0.0    1.0
33   0.0          League Total   0.0  447.0  797.0    7.0    7.0   34.0

    IntTD  OthTD  ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty  \
20    1.0    0.0  ...   4.0    9.0  0.0    19.0    20.0   33.0   34.0   0.0
22    1.0    0.0  ...   2.0    9.0  0.0    29.0    31.0   32.0   40.0   0.0
33   35.0    5.0  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0

        Pts  Pts/G
20    300.0   18.8
22    381.0   23.8
33  11680.0   22.8

[3 rows x 21 columns]


Outliers in D2P:
    Rank               Teams     G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  \
6    7.0  Kansas City Chiefs  16.0   16.0   30.0    0.0    1.0    2.0    1.0
17  18.0  Indianapolis Colts  16.0   17.0   22.0    2.0    0.0    0.0    1.0
32   0.0            Avg Team   0.0   14.0   24.9    0.2    0.2    1.1    1.1
33   0.0        League Total   0.0  447.0  797.0    7.0    7.0   34.0   35.0

    OthTD  ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty      Pts  \
6     0.0  ...   1.0    2.0  1.0    45.0    48.0   34.0   38.0   0.0    451.0
17    0.0  ...   2.0    3.0  1.0    33.0    39.0   22.0   31.0   2.0    361.0
32    0.2  ...   1.7    3.5  0.1    35.5    37.8   25.1   30.7   0.5    365.0
33    5.0  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0  11680.0

    Pts/G
6    28.2
17   22.6
32   22.8
33   22.8

[4 rows x 21 columns]


Outliers in XPM:
    Rank         Teams    G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
33   0.0  League Total  0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0      Avg Tm/G  0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
33  11680.0   22.8
34     22.8    0.0

[2 rows x 21 columns]


Outliers in XPA:
    Rank         Teams    G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
33   0.0  League Total  0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0      Avg Tm/G  0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
33  11680.0   22.8
34     22.8    0.0

[2 rows x 21 columns]


Outliers in FGM:
    Rank             Teams     G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
11  12.0  Tennessee Titans  16.0   21.00   29.00   0.00   0.00   2.00   1.00
33   0.0      League Total   0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0          Avg Tm/G   0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
11   1.00  ...   1.00    2.00  0.0    50.00    52.00    8.00   18.00   1.00
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
11    402.0   25.1
33  11680.0   22.8
34     22.8    0.0

[3 rows x 21 columns]


Outliers in FGA:
    Rank             Teams     G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
11  12.0  Tennessee Titans  16.0   21.00   29.00   0.00   0.00   2.00   1.00
29  30.0   New York Giants  16.0   11.00   30.00   0.00   0.00   1.00   1.00
33   0.0      League Total   0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0          Avg Tm/G   0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
11   1.00  ...   1.00    2.00  0.0    50.00    52.00    8.00   18.00   1.00
29   1.00  ...   2.00    4.00  0.0    35.00    39.00   12.00   17.00   1.00
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
11    402.0   25.1
29    341.0   21.3
33  11680.0   22.8
34     22.8    0.0

[4 rows x 21 columns]


Outliers in Sfty:
    Rank         Teams    G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  OthTD  \
33   0.0  League Total  0.0  447.0  797.0    7.0    7.0   34.0   35.0    5.0

    ...   2PM    2PA  D2P     XPM     XPA    FGM    FGA  Sfty      Pts  Pts/G
33  ...  54.0  113.0  2.0  1136.0  1210.0  802.0  983.0  17.0  11680.0   22.8

[1 rows x 21 columns]


Outliers in Pts:
    Rank         Teams    G   RshTD   RecTD  PR TD  KR TD  FblTD  IntTD  \
33   0.0  League Total  0.0  447.00  797.00   7.00   7.00  34.00  35.00
34   0.0      Avg Tm/G  0.0    0.87    1.56   0.01   0.01   0.07   0.07

    OthTD  ...    2PM     2PA  D2P      XPM      XPA     FGM     FGA   Sfty  \
33   5.00  ...  54.00  113.00  2.0  1136.00  1210.00  802.00  983.00  17.00
34   0.01  ...   0.11    0.22  0.0     2.22     2.36    1.57    1.92   0.03

        Pts  Pts/G
33  11680.0   22.8
34     22.8    0.0

[2 rows x 21 columns]


Outliers in Pts/G:
    Rank     Teams    G  RshTD  RecTD  PR TD  KR TD  FblTD  IntTD  OthTD  ...  \
34   0.0  Avg Tm/G  0.0   0.87   1.56   0.01   0.01   0.07   0.07   0.01  ...

     2PM   2PA  D2P   XPM   XPA   FGM   FGA  Sfty   Pts  Pts/G
34  0.11  0.22  0.0  2.22  2.36  1.57  1.92  0.03  22.8    0.0

[1 rows x 21 columns]

### Problem 4: Find duplicates

In [154]:
# Find duplicate rows in the dataset
duplicates = data[data.duplicated()]

# Display the duplicates found
print("Duplicate rows:")
print(duplicates)

Duplicate rows:
Empty DataFrame
Columns: [Rank, Teams, G, RshTD, RecTD, PR TD, KR TD, FblTD, IntTD, OthTD, AllTD, 2PM, 2PA, D2P, XPM, XPA, FGM, FGA, Sfty, Pts, Pts/G]
Index: []

[0 rows x 21 columns]

### Problem 5: Fix casing or inconsistent values

In [156]:
# Strip any leading or trailing whitespaces from all string columns
data = data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# Convert all string columns to consistent casing 
data = data.apply(lambda x: x.str.title() if x.dtype == "object" else x)

# Display the updated dataframe to check changes
data.head()

,Rank,Teams,G,RshTD,RecTD,PR TD,KR TD,FblTD,IntTD,OthTD,...,2PM,2PA,D2P,XPM,XPA,FGM,FGA,Sfty,Pts,Pts/G
0,1.0,New England Patriots,16.0,17.0,25.0,0.0,0.0,2.0,3.0,2.0,...,2.0,4.0,0.0,39.0,45.0,27.0,34.0,1.0,420.0,26.3
1,2.0,Buffalo Bills,16.0,13.0,21.0,0.0,1.0,0.0,0.0,0.0,...,3.0,3.0,0.0,30.0,32.0,22.0,28.0,1.0,314.0,19.6
2,3.0,Baltimore Ravens,16.0,21.0,37.0,0.0,0.0,4.0,2.0,0.0,...,2.0,5.0,0.0,57.0,59.0,28.0,29.0,1.0,531.0,33.2
3,4.0,Chicago Bears,16.0,8.0,20.0,0.0,1.0,0.0,1.0,0.0,...,1.0,1.0,0.0,27.0,29.0,23.0,28.0,1.0,280.0,17.5
4,5.0,Minnesota Vikings,16.0,19.0,26.0,0.0,0.0,1.0,1.0,0.0,...,1.0,3.0,0.0,40.0,44.0,27.0,29.0,1.0,407.0,25.4

In [160]:
data.columns

Index(['Rank', 'Teams', 'G', 'RshTD', 'RecTD', 'PR TD', 'KR TD', 'FblTD',
       'IntTD', 'OthTD', 'AllTD', '2PM', '2PA', 'D2P', 'XPM', 'XPA', 'FGM',
       'FGA', 'Sfty', 'Pts', 'Pts/G'],
      dtype='object')

### Part 7: Add data

In [169]:
data['TotalTD'] = data[['RshTD', 'RecTD', 'PR TD', 'KR TD', 'FblTD', 'IntTD', 'OthTD']].sum(axis=1)
print("\nPart 7: Add a new column (Total Touchdowns)\n", data[['Teams', 'TotalTD']].head())

Part 7: Add a new column (Total Touchdowns)
                   Teams  TotalTD
0  New England Patriots     49.0
1         Buffalo Bills     35.0
2      Baltimore Ravens     64.0
3         Chicago Bears     30.0
4     Minnesota Vikings     47.0